<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travelsmartlondon"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="your_package_name.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="your_package_name.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.travelsmartlondon.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA0FTTwYDUnSPhSPJqxldR16O-SnkFZdoY" />
        <!-- 
        debug : AIzaSyA0FTTwYDUnSPhSPJqxldR16O-SnkFZdoY
        release: AIzaSyAi-A88kWkKNCk05GaioIL_R4zfimGOyrk
         -->

        <activity
            android:name="com.travelsmartlondon.BusCountdownActivity"
            android:label="@string/title_activity_results"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.travelsmartlondon.TubeChoiceFragment"
            android:label="@string/title_activity_tube_choice_fragment" >
        </activity>
        <activity
            android:name="com.travelsmartlondon.TubeCountdownActivity"
            android:label="@string/title_activity_tube_countdown"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.travelsmartlondon.MapActivity"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.travelsmartlondon.CrowdednessActivity"
            android:label="@string/title_activity_crowdedness"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.travelsmartlondon.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.travelsmartlondon.TubeLineActivity"
            android:label="@string/title_activity_tube_line" >
        </activity>
    </application>

</manifest>